<%= form_for @donation, :url => bet_donations_path, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :amount, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :amount, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Donate", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  bets_path, :class => 'btn' %>
    </div>
<% end %>